<p style="font-size: 16px">
  Sinds de invoering van de Algemene Verordening Gegevensbescherming (AVG) is er veel veranderd wanneer u
  persoonsgegevens wilt gaan verwerken. Bent u benieuwt of u wel voldoet aan de AVG, dan is deze checklist voor u.
  Aan de hand van een klein aantal vragen bekijkt deze website aan welke regels u zich al wel en niet houdt.
</p>

<p>
  Deze checklist is specifiek gemaakt voor kleine voor ondernemingen, bedrijven en organisaties die moeite hebben met
  het toepassen van de AVG. Middels deze checklist kunt u kijken of u op het
  moment voldoet aan de vereisten van het verwerken van persoonsgegevens.
</p>


<div class="spacer-parent">
  <span class="spacer"></span>
  <button mat-raised-button color="primary" (click)="start()" >Begin de checklist</button>
</div>
