#main-card {

  margin: 32px 0 10px 0;
  width: 100%;
}


mat-card-content {
  padding: 10px;
}

#container {
  display: flex;
  justify-content: center;
}

#wrapper {
  max-width: 720px;
}

.footer {
  color: #B0BEC5;
  text-align: center;
  font-size: 11px;
}

.footer > a {
  color: #90A4AE;
}
