<mat-toolbar color="primary">
  <span>AVG Checklist</span>
</mat-toolbar>

<div id="container">
  <div id="wrapper">
    <mat-card id="main-card">
      <mat-card-title style="padding: 20px">
        Hulp bij het verwerken van persoonsgegevens
      </mat-card-title>

      <mat-card-content style="padding: 0 20px 20px 20px">
        <app-start *ngIf="shouldShowStart()"></app-start>

        <app-steps [steps]="steps"></app-steps>

        <app-checklists *ngIf="shouldShowChecklist()"></app-checklists>
      </mat-card-content>
    </mat-card>

    <div class="footer">
      Dit systeem is gebouwd in 2020 voor het vak Recht & Informatiemanagement van de Rijksuniversiteit Groningen. <br>
      Het systeem is slechts een poging tot het maken van een kennissysteem omtrent de AVG en biedt geen juridisch
      advies. <br> <a href="https://github.com/jord-nijhuis/avg-kennisboom" target="_blank">De broncode is beschikbaar
      op GitHub.</a>
    </div>
  </div>
</div>
