#main-card {

  padding: 0;
  width: 100%;
  max-width: 720px;
}


mat-card-content {
  padding: 10px;
}

#container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

#wrapper {
  width: 100%;
  max-width: 720px;
}

.footer {
  margin-top: 10px;
  color: #B0BEC5;
  text-align: center;
  font-size: 11px;
  padding: 10px;
}

.footer > a {
  color: #90A4AE;
}
