<div>
  <h3>{{step.title}}</h3>

  <p *ngIf="step.help !== null" [innerHTML]="step.help" class="help-text"></p>
  <!-- Only one option allowed: radio buttons -->
  <mat-radio-group *ngIf="!step.multiple">
    <mat-radio-button *ngFor="let option of step.options" [value]="option"
                      (change)="onOptionChange(option, true)" [checked]="isChecked(option)">
      {{ option.name }}
    </mat-radio-button>
  </mat-radio-group>

  <!-- Multiple options allowed: checkboxes -->
  <div *ngIf="step.multiple" id="checkboxGroup">
    <mat-checkbox *ngFor="let option of step.options" (change)="onOptionChange(option, $event.checked)"
                  [checked]="isChecked(option)">
      {{ option.name }}
    </mat-checkbox>
  </div>

  <div class="spacer-parent">
    <span class="spacer"></span>
    <button mat-button (click)="performRollback()" *ngIf="showPrevious">Vorige vraag</button>
    <button mat-raised-button color="primary" (click)="saveOptions()" [disabled]="saveDisabled">Volgende vraag</button>
  </div>
</div>
