.met-icon {
  color: #4CAF50;
  margin-right: 8px;
}

.not-met-icon {
  color: #D50000;
  margin-right: 8px;
}

.suggestion-icon {
  color: #FFD600;
  margin-right: 8px;
}

td {
  vertical-align: middle;
}
